@page "/produtos"
@rendermode RenderMode.InteractiveWebAssembly
@inject IProdutoService produtoService

@if (Produtos == null)
{
    <h3>Carregando produtos...</h3>
}
else
{
    <h3 class="mb-5">Produtos</h3>
    @if (Produtos.Count() > 0)
    {
        <div class="row mt-3">
            @foreach (var item in Produtos)
            {
                <div class="col-md-3 mb-2">
                    <a href="#">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="@item.ImagemUrl">
                            <div class="card-body">
                                <h5 class="card-title">@item.Preco.ToString("c")</h5>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
}

@code {
    public IEnumerable<ProdutoDto>? Produtos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Produtos = await produtoService.GetItens();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erro ao carregar produtos: {ex.Message}");
            throw;
        }
    }
}