@foreach (var item in Produtos)
{
    <div class="col-md-3 mb-2">
        <a href="#">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@item.ImagemUrl">
                <div class="card-body">
                    <h5 class="card-title">@item.Preco.ToString("c")</h5>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ProdutoDto>? Produtos { get; set; }
}
