@foreach (var item in Produtos)
{
    <div class="col-md-3 mb-2">
        <a href="/ProdutoDetalhes/@item.Id">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@item.ImagemUrl">
                <div class="card-body">
                    <p class="mb-4 text-black">@item.Descricao</p>
                    <h5 class="card-title">@item.Preco.ToString("c")</h5>
                </div>
            </div>
        </a>
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ProdutoDto>? Produtos { get; set; }
}
